@import url("https://use.typekit.net/xwu5cqb.css");
@import 'breakpoints';
@import './components/social-media';
@import './components/recent-work';
@import "../node_modules/normalize-scss/sass/normalize";

// TODO (mobile)
// add white bg to recent work menu



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: le-havre, sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  overflow-y: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 2rem;
  padding-bottom: 1rem;

  >.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 20vh;

    @include media('<=phone') {
      max-width: 100vw;
    }

    >svg {
      position: relative;
      right: 1rem;
      width: 280px;
      height: 380px;
      padding-top: 2rem;
      z-index: 1;

      @include media('<=phone') {
        max-height: 200px;
        max-width: 280px;
        padding: 1rem 0 0 1rem;
      }
    }

    >img {
      position: relative;
      left: 2rem;
      clip-path: circle(50% at 50% 50%);
      max-width: 100%;

      @include media('<=phone') {
        position: relative;

        width: 100px;
        height: 100px;

      }
    }
  }
}



.img-box {
  margin-left: var(--x);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  scroll-behavior: smooth;
  margin: 10vh 0;
  overflow-x: hidden;
  z-index: 1;
  width: 100%;
  scroll-snap-type: inline mandatory;


  @include media ('<=tablet') {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include media ('<=phone') {
    margin: 2rem auto;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    scroll-snap-align: center;
    max-height: 95vw;
    max-width: 95vw;

    &:nth-child(n) {
      margin-left: 50%;
      margin-right: 50%;
    }

  }
}


.arrows {
  font-size: .5rem;
  z-index: 10;

  .arrow-left {
    position: absolute;
    bottom: 40vh;
    left: 20vw;
    transition: opacity 0.5s ease-in-out;

    @include media('<=tablet') {
      left: 40vw;
    }

    @include media('<=phone') {
      bottom: 7vh;
      z-index: 10;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  .arrow-right {
    position: absolute;
    bottom: 40vh;
    right: 20vw;
    transition: opacity 0.5s ease-in-out;

    @include media('<=tablet') {
      right: 40vw;
    }

    @include media('<=phone') {
      bottom: 7vh;
      z-index: 10;
    }

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }
}


.email {
  position: fixed;
  bottom: .70rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: opacity 0.8s ease;

  &:hover {
    opacity: .5;
  }

  @include media('<=tablet') {
    font-size: .75rem;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -10%);
  }

  @include media('<=phone') {
    font-size: .5rem;
  }
}

@supports(padding: unquote('max(0px)')) {
  html {
    >&:not(header) {
      padding-left: unquote('max(10rem, env(safe-area-inset-left))');
      padding-right: unquote('max(10rem, env(safe-area-inset-right))');
      padding-bottom: unquote('max(10rem, env(safe-area-inset-bottom))');
      padding-top: unquote('max(10rem, env(safe-area-inset-top))');
    }
  }
}